* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

a:hover {
    color: #409eff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}


/* input背景色默认是黄色 */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/*滚动条样式--webkit*/


/* 整体 */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
    -webkit-border-radius: 6px;
    cursor: pointer;
}


/* 内层轨道 */

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    cursor: pointer;
}


/* 滑块 */

::-webkit-scrollbar-thumb {
    height: 50px;
    -webkit-border-radius: 6px;
    outline-offset: -2px;
    background: #cccccc;
    border: 2px solid #cccccc;
    cursor: pointer;
}


/* 滑块悬停 */

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background: #d7d5d5;
    border: 2px solid #d7d5d5;
    -webkit-border-radius: 6px;
    cursor: pointer;
}


/*滚动条样式--ie*/

body {
    scrollbar-face-color: #014179;
    /*滚动条颜色*/
    scrollbar-highlight-color: #014179;
    scrollbar-3dlight-color: #014179;
    scrollbar-darkshadow-color: #014179;
    scrollbar-Shadow-color: #014179;
    /*滑块边色*/
    scrollbar-arrow-color: #014179;
    /*箭头颜色*/
    scrollbar-track-color: #fefefe;
    /*背景颜色*/
}

/* 页面容器 */
.ai-layout-container {
    height: 100%;
}

/* 头部 -- start */

.ai-layout-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;
}

.ai-layout-header .logo {
    display: inline-block;
    height: 100%;
    font-size: 18px;
    text-align: center;
    background: rgba(47, 50, 60, 1);
    color: #fff;
    cursor: pointer;
}

.ai-layout-header .logo .logo-icon {
    width: 23px;
    height: 25px;
    vertical-align: text-bottom;
}

.ai-layout-header .logo .logo-text {
    margin-left: 7px;
}

.ai-layout-header .navbar-nav {
    display: inline-block;
    height: 100%;
    font-weight: bold;
}

.ai-layout-header .navbar-nav li {
    display: inline-block;
    width: 70px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.ai-layout-header .navbar-nav li:hover {
    background-color: #F0F0F0;
}

.ai-layout-header .navbar-nav li.active {
    border-bottom: 4px solid #4B9FE9;
}

.ai-layout-header .quick-menu {
    display: inline-block;
    height: 100%;
    float: right;
    cursor: pointer;
}

.ai-layout-header .quick-menu li {
    position: relative;
    display: inline-block;
    padding: 0 16px;
}

.ai-layout-header .quick-menu li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 18px;
    background-color: #EDEDED;
    opacity: 0.3;
}

.ai-layout-header .quick-menu li:last-child::after {
    display: none;
}

.ai-layout-header .quick-menu li .notification-icon {
    color: #333;
}

.ai-layout-header .quick-menu li .notification-content {
    position: absolute;
    right: 11px;
    top: 15px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #F45E5F;
    box-shadow: 0px 1px 7px 0px rgba(223, 104, 105, 0.5);
}

.ai-layout-header .quick-menu li .notification-content .total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: #fff;
}

.ai-layout-header .quick-menu li .avatar-icon {
    margin-right: 10px;
}

.ai-layout-header .quick-menu li .nick-name {
    margin-right: 6px;
    font-size: 12px;
}

.ai-layout-header .quick-menu li .icon-item {
    display: inline-block;
    transform: rotate(90deg);
    vertical-align: middle;
}

.ai-layout-header .quick-menu li .icon-item .dropdown-caret {
    font-size: 8px;
}

/* 头部 -- end */


/* 左侧导航 */

.ai-layout-sidebar {
    display: inline-block;
    height: calc(100% - 60px);
    position: relative;
    overflow: hidden;
    vertical-align: top;
    border: 1px solid #D3D3D3;
}

.ai-layout-sidebar.ai-layout-sidebar-show {
    width: 220px;
}

.ai-layout-sidebar.ai-layout-sidebar-hide {
    width: 0;
    border: none;
}

.ai-layout-sidebar.ai-layout-sidebar-transition {
    transition: all 0.6s;
    -moz-transition: all 0.6s; /* Firefox 4 */
    -webkit-transition: all 0.6s; /* Safari and Chrome */
    -o-transition: all 0.6s; /* Opera */
}

.ai-layout-sidebar .ai-layout-sidebar-title {
    height: 50px;
    padding: 18px;
    font-size: 14px;
    line-height: 14px;
    color: #484747;
    border-bottom: 1px solid #d3d3d3;
}

.ai-layout-sidebar .el-menu .el-submenu__title {
    height: 45px;
    line-height: 45px;
}

.ai-layout-sidebar .el-menu .el-submenu__title i {
    margin-right: 10px;
}

.ai-layout-sidebar .el-menu .is-active .el-submenu__title {
    background: linear-gradient(
        -44deg,
        rgba(75, 159, 233, 1),
        rgba(90, 174, 248, 1)
    );
    color: #fff;
}

.ai-layout-sidebar .el-menu .is-active .el-submenu__title i {
    color: #fff;
}

.ai-layout-sidebar .el-menu .el-submenu .el-menu-item:hover {
    background: #f0f0f0;
}

/* 右侧模块 */

.ai-layout-module {
    display: inline-block;
    width: calc(100% - 220px);
    height: calc(100% - 60px);
}

.ai-layout-module-transition {
    transition: all 0.6s;
    -moz-transition: all 0.6s; /* Firefox 4 */
    -webkit-transition: all 0.6s; /* Safari and Chrome */
    -o-transition: all 0.6s; /* Opera */
}

/* 右侧收起样式 */
.ai-layout-module-hide {
    width: 100%;
}

/* 右侧容器 -- 面包屑 */

.ai-layout-breadcrumb {
    height: 50px;
    padding: 18px;
    font-size: 14px;
    line-height: 14px;
}

.ai-layout-breadcrumb .breadcrumb-item {
    display: inline-block;
    margin-left: 12px;
}

.ai-layout-breadcrumb .breadcrumb-item:first-child {
    margin-left: 0;
}

.ai-layout-breadcrumb .breadcrumb-item .guide-icon {
    font-size: 14px;
    color: #313131;
}

.ai-layout-breadcrumb .breadcrumb-item .breadcrumb-label {
    color: #666666;
    cursor: pointer;
}

.ai-layout-breadcrumb .breadcrumb-item .breadcrumb-label::after {
    content: "/";
    margin-left: 10px;
}

.ai-layout-breadcrumb .breadcrumb-item:last-child .breadcrumb-label::after {
    display: none;
}

.ai-layout-breadcrumb .breadcrumb-item .breadcrumb-label.active {
    color: #4B9FE9;
}


/* 右侧容器 -- 内容 */

.ai-layout-content {
    position: relative;
    height: calc(100% - 50px);
}