body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.ai-layout-header {}

.ai-layout-sidebar {}

.ai-layout-container {
    height: calc(100% - 70px);
}

.ai-layout-breadcrumb {}

.ai-layout-content {}